.line {
   background-color:aqua;
   display: block;
   align-content: center;
   padding: 20px;
}

.pict {
   width: 200px;
   display: block;
   margin-left: auto;
   margin-right: auto;
}

.tittle {
   text-align: center;
}

.buttons {
   margin: 0;
   position:relative;
   top: 20px;
   left: 20px;

}
