body {
  font-family:'Gochi Hand', Arial, Helvetica, sans-serif;
  font-size: 20px;
  color: #D18CE0;
  background-image: url('/resources/img/background.jpg');
  background-size: 100%;
  background-repeat: no-repeat;
}

h1 {
  margin-top: 3em;
  text-align: center;
  font-size: 50px;
}

#insert {
  width: fit-content;
  margin: auto;
  padding-bottom: 50px;
}

#how-many {
  width: fit-content;
  margin: auto;
}

ol {
  width: 55%;
  margin:auto;
  padding-top: 30px;
  color: #7882A4;
  font-size: 24px;
}

footer {
  width: fit-content;
  margin: auto;
}

#attribution {
  color: #8D8DAA;
  font-size: 16px;
  text-decoration: none;
}